:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.8rem;
}

section, main {
  padding: 0.8rem;
  gap: 0.8rem;
}

section {
  box-shadow: #00000053 5px -5px 10px;
  display: flex;
  flex-direction: column;

  #log {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    overflow-y: overlay;
    height: 0;

    article {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.8rem;

      blockquote {
        padding: 0.8rem;
        border: 1px solid rgba(255, 255, 255, 0.87);
        border-radius: 0.8rem;
        margin: 0;
      }

      blockquote[actor=system] {
        margin-right: 2rem;
        border-bottom-left-radius: 0;

        pre {
          text-wrap: pretty;
        }
      }

      blockquote[actor=user] {
        margin-left: 2rem;
        border-bottom-right-radius: 0;
        background-color: #4488ee;
      }
    }
  }

  #actions {
    display: grid;
    grid-auto-columns: auto;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: overlay;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
}

legend {
  background-color: #444444;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  margin: 0.8rem 0;
}

legend:empty {
  display: none;
}

input, textarea, select {
  padding: 0.8rem;
}

label {
  display: grid;
  gap: 0.8rem;
}

label:has(> span) {
  grid-template-columns: 1fr 3fr;
  input, textarea, select {
    align-self: flex-start;
  }
  > span {
    padding: 0.8rem 0;
  }
}

button {
  padding: 0.8rem;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.87);
}
